.calc-form-group{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.calc-form-group label{
    color: transparent;
}

.calc-form-group input{
    border-radius: 8px;
    border: 2px solid #002f87;
    background-color: #f1f1f1;
    height: 56px;
}

.calc-form-group select{
    border-radius: 8px;
    border: 2px solid #002f87;
    background-color: #f1f1f1;
    height: 56px;
}
